html, body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  background-color: #F0F3F4;
  color: #000000;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #34495E;
  color: #F4F6F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: width 0.3s ease;
}

#navbar.collapsed {
  width: 70px;
}

#navbar.collapsed a:not(.icon) {
  display: none;
}

#navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s ease;
}

#navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#navbar .icon {
  margin-top: 20px;
  cursor: pointer;
}

#content {
  margin-left: 20%;
  padding: 20px;
  padding-right: 5%;
  text-align: justify;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
#content.slide-out {
  transform: translateX(100%);
  opacity: 0;
}

#content.slide-in {
  transform: translateX(-100%);
  opacity: 0;
}
@media (max-width: 1024px) {
  #navbar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  #navbar.collapsed {
    width: 70px;
  }

  #navbar.collapsed a:not(.icon) {
    display: none;
  }

  #navbar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
  }

  #navbar .icon {
    margin-top: 10px;
  }

  #navbar.collapsed .icon {
    margin-top: 20px;
  }

  #navbar.collapsed a.icon {
    display: block;
  }
}

@media (max-width: 768px) {
  #navbar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  #navbar.collapsed {
    width: 70px;
  }

  #navbar.collapsed a:not(.icon) {
    display: none;
  }

  #navbar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
  }

  #navbar .icon {
    margin-top: 10px;
  }

  #navbar.collapsed .icon {
    margin-top: 20px;
  }

  #navbar.collapsed a.icon {
    display: block;
  }
}

@media (max-width: 576px) {
  #navbar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  #navbar.collapsed {
    width: 70px;
  }

  #navbar.collapsed a:not(.icon) {
    display: none;
  }

  #navbar a {
    display: block;
    padding: 10px;
    margin: 5px 0;
  }

  #navbar .icon {
    margin-top: 10px;
  }

  #navbar.collapsed .icon {
    margin-top: 20px;
  }

  #navbar.collapsed a.icon {
    display: block;
  }
}

#navbar .extra-link {
  margin-top: auto; /* Pushes the link to the bottom */
  margin-bottom: 10px; /* Adds some space below the link */
  padding: 10px;
  width: auto;
  text-align: center;
}

#navbar.collapsed .extra-link {
  display: none;
}

#navbar a.active {
  background-color: #ffffff;
  color: #ffffff;
}


@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

#typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(80) 1s 1 normal both;
} 

#profile {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.divider {
  border: none;
  border-top: 2px solid #6A0DAD; /* Dark purple color */
  margin: 10px 0;
}

#education {
  margin-top: 40px;
}

.education-item {
  position: relative;
  margin-bottom: 20px;
}

.education-details {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  direction: rtl;
}

.education-location,
.education-date {
  margin: 0;
}

.education-subtext {
  margin-top: 10px;
}

h2 {
  color: #4B0082;
}
ul.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul.skills-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
ul.skills-list li img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}
table th {
  background-color: #f9f9f9;
}
table td:first-child {
  width: 40px;
}
table td:first-child img {
  width: 40px;
  height: 40px;
}
table td:nth-child(2) {
  font-weight: bold;
  min-width: 120px;
  padding-left: 2%;
}
table td:nth-child(3) {
  white-space: normal;
  word-break: break-word;
}

h4.designation {
  margin-top: 0.2%;
  line-height: 1; /* Adjust the margin as desired */
  color: #2E4053 ;
}
h1.name{
  line-height: 1;
  margin-bottom: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items on both ends */
}

.social-media-links a {
  display: inline-block;
  margin-left: 10px; /* Adjust the margin as needed */
  color: #000000; /* Set the color for the icons */
  font-size: 20px; /* Adjust the font size as needed */
}

.social-media-links a i {
  transition: color 0.3s ease; /* Add a transition effect for hover */
}

.social-media-links a:hover i {
  color: #808080; /* Change the color on hover */
}

/* Hide the default scroll bar */
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

/* Define the track style */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Define the thumb style */
::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 4px;
  transition: background-color 1s;
}

/* Define the thumb hover style */
::-webkit-scrollbar-thumb:hover {
  background-color: #34495E /* Adjust the color as desired */
}

.carousel-inner img {
  max-height: 400px; /* Adjust the height as per your requirement */
  object-fit: cover;
  background-color: #000000;
}
.carousel-inner .slide1 .carousel-caption {
  text-align: left;
  left: 20%; /* Adjust the value as needed */
}

/* Center-align text for the second slide */
.carousel-inner .slide2 .carousel-caption {
  text-align: center;
}

/* Right-align text for the third slide */
.carousel-inner .slide3 .carousel-caption {
  text-align: right;
  right: 20%; /* Adjust the value as needed */
}
.carousel-inner .carousel-caption h3 {
  font-size: 40px; /* Adjust the font size as needed */
  font-weight: bold;
}
.carousel-inner .carousel-caption p {
  font-size: 14px; /* Adjust the font size as needed */
}
.carousel-header {
  position: absolute; /* Add padding to provide some space around the header */
  z-index: 1;
  top: 10px;
  background-color: #2E4053 ;
  /* Set the background color to black */
  display: flex; /* Use flexbox to center the content */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}

/* Style for the header text (h2 element) */
.carousel-header h2 {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px ; 
  margin-top: 5px;
}
